[submodule "submodules/btcpayserver"]
	path = submodules/btcpayserver
	url = https://github.com/Kukks/btcpayserver
	branch = mobile-working-master-merge
[submodule "submodules/NArk"]
	path = submodules/NArk
	url = https://github.com/arkade-os/dotnet-sdk.git
